body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4d4d4;

}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-top: 0;
    color: #555;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    background-color: #e9e9e9;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px;
    background-color: #555;
    color: white;
    width: 13%;
    border-radius: 5px;
    border: none;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: #eee;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li > button {
    background-color: red;
}